*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    line-height: 1.55;
    padding-bottom: 1000px;
}

/* Latihan 1 */
.container-satu{
    width: 90%;
    margin: 50px auto;
    background-color: antiquewhite;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama{
    flex-grow: 3;
    order: 2;
}

.sidebar-satu{
    flex-grow: 1;
    order: 1;
}

.sidebar-dua{
    flex-grow: 1;
    order: 3;
}

/* Akhir Latihan 1 */

/* Latihan 2 */
.container-dua{
    width: 95%;
    margin: 50px auto;
}

.layanan{
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.layanan.satu{
    background-color: rgb(53, 53, 253);
}
.layanan.dua{
    background-color: rgb(30, 197, 30);
}
.layanan.tiga{
    background-color: royalblue;
}
/* Akhir Latihan 2 */


/* Latihan 3 */
.container-tiga{
    max-width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail{
    width: 50%;
}

.thumbnail img{
    width: 100%;
}

/* Akhir Latihan 3 */

/* Latihan 4 */
.container-empat{
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(33, 250, 25);
    overflow: hidden;
    margin: 10px;
    flex-grow: 1;
    width: 100%;
}

.card .header{
    height: 130px;
    background-color: grey;
}

.card .content{
    text-align: center;
    padding-bottom: 20px;
}

.card.besar{
    transform: scale(1.09);
}
/* Akhir Latihan 4 */


/* latihan 5 */
.container-lima{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 5px solid black;
    display: flex;
}

.kotak{
    width: 100px;
    height: 100px;
    background-color: brown;
    color: white;
    text-align: center;
    margin: auto;
    display: flex;
}

.kotak span{
    margin: auto;
}

/* Akhir Latihan 5 */

 /* resposive */
@media( min-width: 600px){
    .container-dua{
        display: flex;
        justify-content: space-between;
    }
    .layanan{
    width: 30%;
    }
    .thumbnail{
        width: 25%;
    } 
    .card{
        width: 25%;
    }
}